üèè IPL Teams Timeline (2008 - 2023)
üìå Active Teams üü¢
üìå Defunct / Replaced Teams üî¥
üìå Temporary Teams üü°



IPL 2008 - Inaugural Season (8 Teams)
üü¢ Chennai Super Kings (CSK)
üü¢ Mumbai Indians (MI)
üü¢ Royal Challengers Bangalore (RCB)
üü¢ Rajasthan Royals (RR) ‚úÖ Won the first IPL (2008)
üü¢ Kolkata Knight Riders (KKR)
üü¢ Delhi Daredevils (DD) (Renamed to Delhi Capitals in 2019)
üü¢ Kings XI Punjab (KXIP) (Renamed to Punjab Kings in 2021)
üî¥ Deccan Chargers (DC) (2008-2012, replaced by Sunrisers Hyderabad in 2013)



IPL 2011 - Expansion (10 Teams)
üîπ New Teams Added:
9. üî¥ Pune Warriors India (PWI) (2011-2013)
10. üî¥ Kochi Tuskers Kerala (KTK) (2011, played only 1 season and was terminated in 2012)



IPL 2012-2013 (9 Teams)
Kochi Tuskers Kerala (KTK) exited after 2011
üü¢ Sunrisers Hyderabad (SRH) (2013-Present, replaced Deccan Chargers)



IPL 2014-2015 (8 Teams)
Pune Warriors India (PWI) exited in 2013



IPL 2016-2017 (8 Teams, CSK & RR Suspended)
üîπ New Temporary Teams (Replacing CSK & RR):
11. üü° Rising Pune Supergiant (RPS) (2016-2017, played 2 seasons)
12. üü° Gujarat Lions (GL) (2016-2017, played 2 seasons)



IPL 2018-2021 (8 Teams, CSK & RR Returned)
üü¢ CSK & RR returned in 2018
üü° RPS & GL exited after 2017
IPL continued with 8 teams
IPL 2022-Present (10 Teams, Expansion Again)
üîπ New Permanent Teams Added:
13. üü¢ Gujarat Titans (GT) (2022-Present, won IPL 2022 in their debut season!)
14. üü¢ Lucknow Super Giants (LSG) (2022-Present)

IPL expanded back to 10 teams after 2021.
üü¢ Active (2023)	CSK, MI, RCB, RR, KKR, DC, PBKS, SRH, GT, LSG
üî¥ Defunct	Deccan Chargers, Kochi Tuskers Kerala, Pune Warriors India
üü° Temporary	Gujarat Lions, Rising Pune Supergiant

In [1]:
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv(r"D:\MACHINE LARNING PROJECTS\IPL Win Predictor\dataset\IPL_ball_by_ball_updated.csv")
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243810,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243811,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243812,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243813,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243814,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df1=pd.read_csv(r"D:\MACHINE LARNING PROJECTS\IPL Win Predictor\dataset\matches_updated_mens_ipl.csv")
df1

,venue,umpire2,winner_runs,date,method,reserve_umpire,winner,city,balls_per_over,outcome,...,toss_winner,toss_decision,date2,tv_umpire,season,umpire1,event,neutralvenue,player_of_match,matchId
0,M Chinnaswamy Stadium,RE Koertzen,140.0,2008-04-18,NaN,VN Kulkarni,Kolkata Knight Riders,Bangalore,6,NaN,...,Royal Challengers Bangalore,field,NaN,AM Saheba,2007/08,Asad Rauf,Indian Premier League,NaN,BB McCullum,335982
1,"Punjab Cricket Association Stadium, Mohali",SL Shastri,33.0,2008-04-19,NaN,MSS Ranawat,Chennai Super Kings,Chandigarh,6,NaN,...,Chennai Super Kings,bat,NaN,RB Tiffin,2007/08,MR Benson,Indian Premier League,NaN,MEK Hussey,335983
2,Feroz Shah Kotla,GA Pratapkumar,NaN,2008-04-19,NaN,NaN,Delhi Daredevils,Delhi,6,NaN,...,Rajasthan Royals,bat,NaN,IL Howell,2007/08,Aleem Dar,Indian Premier League,NaN,MF Maharoof,335984
3,Wankhede Stadium,DJ Harper,NaN,2008-04-20,NaN,SN Bandekar,Royal Challengers Bangalore,Mumbai,6,NaN,...,Mumbai Indians,bat,NaN,AV Jayaprakash,2007/08,SJ Davis,Indian Premier League,NaN,MV Boucher,335985
4,Eden Gardens,K Hariharan,NaN,2008-04-20,NaN,F Gomes,Kolkata Knight Riders,Kolkata,6,NaN,...,Deccan Chargers,bat,NaN,Asad Rauf,2007/08,BF Bowden,Indian Premier League,NaN,DJ Hussey,335986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,"M Chinnaswamy Stadium, Bengaluru",VK Sharma,NaN,2023-05-21,NaN,VM Dhokre,Gujarat Titans,Bengaluru,6,NaN,...,Gujarat Titans,field,NaN,Tapan Sharma,2023,Nitin Menon,Indian Premier League,NaN,Shubman Gill,1359544
1020,"MA Chidambaram Stadium, Chepauk, Chennai",CB Gaffaney,15.0,2023-05-23,NaN,VK Sharma,Chennai Super Kings,Chennai,6,NaN,...,Gujarat Titans,field,NaN,BNJ Oxenford,2023,AK Chaudhary,Indian Premier League,NaN,RD Gaikwad,1370350
1021,"MA Chidambaram Stadium, Chepauk, Chennai",VK Sharma,81.0,2023-05-24,NaN,AK Chaudhary,Mumbai Indians,Chennai,6,NaN,...,Mumbai Indians,bat,NaN,CB Gaffaney,2023,BNJ Oxenford,Indian Premier League,NaN,Akash Madhwal,1370351
1022,"Narendra Modi Stadium, Ahmedabad",RJ Tucker,62.0,2023-05-26,NaN,KN Ananthapadmanabhan,Gujarat Titans,Ahmedabad,6,NaN,...,Mumbai Indians,field,NaN,J Madanagopal,2023,Nitin Menon,Indian Premier League,NaN,Shubman Gill,1370352
1023,"Narendra Modi Stadium, Ahmedabad",RJ Tucker,NaN,2023-05-29,NaN,J Madanagopal,Chennai Super Kings,Ahmedabad,6,NaN,...,Chennai Super Kings,field,NaN,KN Ananthapadmanabhan,2023,Nitin Menon,Indian Premier League,NaN,DP Conway,1370353

In [4]:
df1.columns

Index(['venue', 'umpire2', 'winner_runs', 'date', 'method', 'reserve_umpire',
       'winner', 'city', 'balls_per_over', 'outcome', 'match_number',
       'match_referee', 'team1', 'eliminator', 'date1', 'gender', 'team2',
       'winner_wickets', 'toss_winner', 'toss_decision', 'date2', 'tv_umpire',
       'season', 'umpire1', 'event', 'neutralvenue', 'player_of_match',
       'matchId'],
      dtype='object')

In [5]:
for col in df1.columns:
    print(f"{col}:{df1[col].nunique()}")

venue:56
umpire2:62
winner_runs:97
date:762
method:1
reserve_umpire:71
winner:18
city:35
balls_per_over:1
outcome:2
match_number:72
match_referee:30
team1:18
eliminator:7
date1:2
gender:1
team2:18
winner_wickets:10
toss_winner:18
toss_decision:2
date2:2
tv_umpire:69
season:16
umpire1:60
event:1
neutralvenue:1
player_of_match:280
matchId:1024

In [6]:
df1.drop(columns=['event','method','balls_per_over','date2','neutralvenue','date1','gender','umpire1','match_referee','reserve_umpire','umpire2'],inplace=True)

In [7]:
df1

,venue,winner_runs,date,winner,city,outcome,match_number,team1,eliminator,team2,winner_wickets,toss_winner,toss_decision,tv_umpire,season,player_of_match,matchId
0,M Chinnaswamy Stadium,140.0,2008-04-18,Kolkata Knight Riders,Bangalore,NaN,1.0,Royal Challengers Bangalore,NaN,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,field,AM Saheba,2007/08,BB McCullum,335982
1,"Punjab Cricket Association Stadium, Mohali",33.0,2008-04-19,Chennai Super Kings,Chandigarh,NaN,2.0,Kings XI Punjab,NaN,Chennai Super Kings,NaN,Chennai Super Kings,bat,RB Tiffin,2007/08,MEK Hussey,335983
2,Feroz Shah Kotla,NaN,2008-04-19,Delhi Daredevils,Delhi,NaN,3.0,Delhi Daredevils,NaN,Rajasthan Royals,9.0,Rajasthan Royals,bat,IL Howell,2007/08,MF Maharoof,335984
3,Wankhede Stadium,NaN,2008-04-20,Royal Challengers Bangalore,Mumbai,NaN,5.0,Mumbai Indians,NaN,Royal Challengers Bangalore,5.0,Mumbai Indians,bat,AV Jayaprakash,2007/08,MV Boucher,335985
4,Eden Gardens,NaN,2008-04-20,Kolkata Knight Riders,Kolkata,NaN,4.0,Kolkata Knight Riders,NaN,Deccan Chargers,5.0,Deccan Chargers,bat,Asad Rauf,2007/08,DJ Hussey,335986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,"M Chinnaswamy Stadium, Bengaluru",NaN,2023-05-21,Gujarat Titans,Bengaluru,NaN,70.0,Royal Challengers Bangalore,NaN,Gujarat Titans,6.0,Gujarat Titans,field,Tapan Sharma,2023,Shubman Gill,1359544
1020,"MA Chidambaram Stadium, Chepauk, Chennai",15.0,2023-05-23,Chennai Super Kings,Chennai,NaN,NaN,Chennai Super Kings,NaN,Gujarat Titans,NaN,Gujarat Titans,field,BNJ Oxenford,2023,RD Gaikwad,1370350
1021,"MA Chidambaram Stadium, Chepauk, Chennai",81.0,2023-05-24,Mumbai Indians,Chennai,NaN,NaN,Mumbai Indians,NaN,Lucknow Super Giants,NaN,Mumbai Indians,bat,CB Gaffaney,2023,Akash Madhwal,1370351
1022,"Narendra Modi Stadium, Ahmedabad",62.0,2023-05-26,Gujarat Titans,Ahmedabad,NaN,NaN,Gujarat Titans,NaN,Mumbai Indians,NaN,Mumbai Indians,field,J Madanagopal,2023,Shubman Gill,1370352
1023,"Narendra Modi Stadium, Ahmedabad",NaN,2023-05-29,Chennai Super Kings,Ahmedabad,NaN,NaN,Gujarat Titans,NaN,Chennai Super Kings,5.0,Chennai Super Kings,field,KN Ananthapadmanabhan,2023,DP Conway,1370353

In [8]:
df2=pd.read_csv(r"D:\MACHINE LARNING PROJECTS\IPL Win Predictor\dataset\deliveries_updated_mens_ipl.csv")
df2

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,14.2,14,2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29
243813,1370353,2,14.3,14,3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29
243814,1370353,2,14.4,14,4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29
243815,1370353,2,14.5,14,5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29
243816,1370353,2,14.6,14,6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,4,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29

In [9]:
df2.columns

Index(['matchId', 'inning', 'over_ball', 'over', 'ball', 'batting_team',
       'bowling_team', 'batsman', 'non_striker', 'bowler', 'batsman_runs',
       'extras', 'isWide', 'isNoBall', 'Byes', 'LegByes', 'Penalty',
       'dismissal_kind', 'player_dismissed', 'date'],
      dtype='object')

In [10]:
df1.columns

Index(['venue', 'winner_runs', 'date', 'winner', 'city', 'outcome',
       'match_number', 'team1', 'eliminator', 'team2', 'winner_wickets',
       'toss_winner', 'toss_decision', 'tv_umpire', 'season',
       'player_of_match', 'matchId'],
      dtype='object')

In [11]:
df.columns

Index(['match_id', 'season', 'start_date', 'venue', 'innings', 'ball',
       'batting_team', 'bowling_team', 'striker', 'non_striker', 'bowler',
       'runs_off_bat', 'extras', 'wides', 'noballs', 'byes', 'legbyes',
       'penalty', 'wicket_type', 'player_dismissed', 'other_wicket_type',
       'other_player_dismissed'],
      dtype='object')

In [12]:
df2['total_runs'] = df2['batsman_runs'] + df2['extras']
df2

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,...,extras,isWide,isNoBall,Byes,LegByes,Penalty,dismissal_kind,player_dismissed,date,total_runs
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,2008-04-18,1
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,14.2,14,2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243813,1370353,2,14.3,14,3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243814,1370353,2,14.4,14,4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243815,1370353,2,14.5,14,5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,6
243816,1370353,2,14.6,14,6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,4

In [13]:
total_runs=df2.groupby(['matchId','inning']).sum()['total_runs'].add(1).reset_index()
total_runs=total_runs[total_runs['inning']==1]
total_runs

      matchId  inning  total_runs
0      335982       1         223
2      335983       1         241
4      335984       1         130
6      335985       1         166
8      335986       1         111
...       ...     ...         ...
2065  1359544       1         198
2067  1370350       1         173
2069  1370351       1         183
2071  1370352       1         234
2073  1370353       1         215

[1024 rows x 3 columns]

In [14]:
df

,match_id,season,start_date,venue,innings,ball,batting_team,bowling_team,striker,non_striker,...,extras,wides,noballs,byes,legbyes,penalty,wicket_type,player_dismissed,other_wicket_type,other_player_dismissed
0,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,...,1,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,335982,2008,2008-04-18,M Chinnaswamy Stadium,1,0.5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243810,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243811,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243812,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243813,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243814,1370353,2023,2023-05-29,"Narendra Modi Stadium, Ahmedabad",2,14.6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
for col in df2.columns:
    print(f"{col}:{df2[col].nunique()}")

matchId:1024
inning:6
over_ball:182
over:20
ball:10
batting_team:18
bowling_team:18
batsman:637
non_striker:626
bowler:503
batsman_runs:7
extras:7
isWide:5
isNoBall:4
Byes:4
LegByes:5
Penalty:1
dismissal_kind:10
player_dismissed:602
date:762
total_runs:8

In [16]:
df2.drop(columns=['Penalty'],inplace=True)

In [17]:
df2

,matchId,inning,over_ball,over,ball,batting_team,bowling_team,batsman,non_striker,bowler,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs
0,335982,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,SC Ganguly,BB McCullum,P Kumar,0,1,NaN,NaN,NaN,1.0,NaN,NaN,2008-04-18,1
1,335982,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
2,335982,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,1,1.0,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
3,335982,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
4,335982,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,BB McCullum,SC Ganguly,P Kumar,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243812,1370353,2,14.2,14,2,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243813,1370353,2,14.3,14,3,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243814,1370353,2,14.4,14,4,Chennai Super Kings,Gujarat Titans,S Dube,RA Jadeja,MM Sharma,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,1
243815,1370353,2,14.5,14,5,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,6,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,6
243816,1370353,2,14.6,14,6,Chennai Super Kings,Gujarat Titans,RA Jadeja,S Dube,MM Sharma,4,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-29,4

In [18]:
total_runs.rename(columns={'match_id': 'matchId', 'innings': 'inning'}, inplace=True)

if 'matchId' not in df1.columns:
    print("Error: 'matchId' column missing in df1")

match_df = df1.merge(total_runs[['matchId', 'inning']], on='matchId', how='left')

match_df

,venue,winner_runs,date,winner,city,outcome,match_number,team1,eliminator,team2,winner_wickets,toss_winner,toss_decision,tv_umpire,season,player_of_match,matchId,inning
0,M Chinnaswamy Stadium,140.0,2008-04-18,Kolkata Knight Riders,Bangalore,NaN,1.0,Royal Challengers Bangalore,NaN,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,field,AM Saheba,2007/08,BB McCullum,335982,1
1,"Punjab Cricket Association Stadium, Mohali",33.0,2008-04-19,Chennai Super Kings,Chandigarh,NaN,2.0,Kings XI Punjab,NaN,Chennai Super Kings,NaN,Chennai Super Kings,bat,RB Tiffin,2007/08,MEK Hussey,335983,1
2,Feroz Shah Kotla,NaN,2008-04-19,Delhi Daredevils,Delhi,NaN,3.0,Delhi Daredevils,NaN,Rajasthan Royals,9.0,Rajasthan Royals,bat,IL Howell,2007/08,MF Maharoof,335984,1
3,Wankhede Stadium,NaN,2008-04-20,Royal Challengers Bangalore,Mumbai,NaN,5.0,Mumbai Indians,NaN,Royal Challengers Bangalore,5.0,Mumbai Indians,bat,AV Jayaprakash,2007/08,MV Boucher,335985,1
4,Eden Gardens,NaN,2008-04-20,Kolkata Knight Riders,Kolkata,NaN,4.0,Kolkata Knight Riders,NaN,Deccan Chargers,5.0,Deccan Chargers,bat,Asad Rauf,2007/08,DJ Hussey,335986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1019,"M Chinnaswamy Stadium, Bengaluru",NaN,2023-05-21,Gujarat Titans,Bengaluru,NaN,70.0,Royal Challengers Bangalore,NaN,Gujarat Titans,6.0,Gujarat Titans,field,Tapan Sharma,2023,Shubman Gill,1359544,1
1020,"MA Chidambaram Stadium, Chepauk, Chennai",15.0,2023-05-23,Chennai Super Kings,Chennai,NaN,NaN,Chennai Super Kings,NaN,Gujarat Titans,NaN,Gujarat Titans,field,BNJ Oxenford,2023,RD Gaikwad,1370350,1
1021,"MA Chidambaram Stadium, Chepauk, Chennai",81.0,2023-05-24,Mumbai Indians,Chennai,NaN,NaN,Mumbai Indians,NaN,Lucknow Super Giants,NaN,Mumbai Indians,bat,CB Gaffaney,2023,Akash Madhwal,1370351,1
1022,"Narendra Modi Stadium, Ahmedabad",62.0,2023-05-26,Gujarat Titans,Ahmedabad,NaN,NaN,Gujarat Titans,NaN,Mumbai Indians,NaN,Mumbai Indians,field,J Madanagopal,2023,Shubman Gill,1370352,1
1023,"Narendra Modi Stadium, Ahmedabad",NaN,2023-05-29,Chennai Super Kings,Ahmedabad,NaN,NaN,Gujarat Titans,NaN,Chennai Super Kings,5.0,Chennai Super Kings,field,KN Ananthapadmanabhan,2023,DP Conway,1370353,1

In [19]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    135
Chennai Super Kings            120
Mumbai Indians                 118
Kolkata Knight Riders          112
Rajasthan Royals                96
Kings XI Punjab                 92
Delhi Daredevils                85
Sunrisers Hyderabad             76
Deccan Chargers                 39
Delhi Capitals                  34
Punjab Kings                    27
Pune Warriors                   23
Gujarat Lions                   16
Lucknow Super Giants            15
Gujarat Titans                  15
Rising Pune Supergiants          7
Rising Pune Supergiant           7
Kochi Tuskers Kerala             7
Name: count, dtype: int64

In [20]:
match_df['team1']=match_df['team1'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team1']=match_df['team1'].replace('Delhi Daredevils','Delhi Capitals')
match_df['team1']=match_df['team1'].replace('Kings XI Punjab','Punjab Kings')
match_df['team2']=match_df['team2'].replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['team2']=match_df['team2'].replace('Delhi Daredevils','Delhi Capitals')
match_df['team2']=match_df['team2'].replace('Kings XI Punjab','Punjab Kings')

In [21]:
teams = ['Kolkata Knight Riders', 
         'Chennai Super Kings',
         'Punjab Kings', 
         'Rajasthan Royals',
         'Mumbai Indians',
         'Delhi Capitals',
         'Royal Challengers Bangalore',
         'Sunrisers Hyderabad']

In [22]:
match_df=match_df[match_df['team1'].isin(teams)]
match_df=match_df[match_df['team2'].isin(teams)]

In [23]:
match_df['team2'].value_counts()

team2
Mumbai Indians                 117
Sunrisers Hyderabad            114
Kolkata Knight Riders          112
Delhi Capitals                 108
Rajasthan Royals               104
Punjab Kings                   101
Chennai Super Kings             98
Royal Challengers Bangalore     96
Name: count, dtype: int64

In [24]:
match_df['team1'].value_counts()

team1
Royal Challengers Bangalore    121
Punjab Kings                   110
Chennai Super Kings            110
Delhi Capitals                 108
Mumbai Indians                 105
Sunrisers Hyderabad            105
Kolkata Knight Riders          104
Rajasthan Royals                87
Name: count, dtype: int64

In [25]:
print("match_df shape:", match_df.shape)
print("df shape:", df.shape)
print("df1 shape:", df1.shape)
print("df2 shape:", df2.shape)

match_df shape: (850, 18)
df shape: (243815, 22)
df1 shape: (1024, 17)
df2 shape: (243817, 20)

In [26]:
match_df

,venue,winner_runs,date,winner,city,outcome,match_number,team1,eliminator,team2,winner_wickets,toss_winner,toss_decision,tv_umpire,season,player_of_match,matchId,inning
0,M Chinnaswamy Stadium,140.0,2008-04-18,Kolkata Knight Riders,Bangalore,NaN,1.0,Royal Challengers Bangalore,NaN,Kolkata Knight Riders,NaN,Royal Challengers Bangalore,field,AM Saheba,2007/08,BB McCullum,335982,1
1,"Punjab Cricket Association Stadium, Mohali",33.0,2008-04-19,Chennai Super Kings,Chandigarh,NaN,2.0,Punjab Kings,NaN,Chennai Super Kings,NaN,Chennai Super Kings,bat,RB Tiffin,2007/08,MEK Hussey,335983,1
2,Feroz Shah Kotla,NaN,2008-04-19,Delhi Daredevils,Delhi,NaN,3.0,Delhi Capitals,NaN,Rajasthan Royals,9.0,Rajasthan Royals,bat,IL Howell,2007/08,MF Maharoof,335984,1
3,Wankhede Stadium,NaN,2008-04-20,Royal Challengers Bangalore,Mumbai,NaN,5.0,Mumbai Indians,NaN,Royal Challengers Bangalore,5.0,Mumbai Indians,bat,AV Jayaprakash,2007/08,MV Boucher,335985,1
4,Eden Gardens,NaN,2008-04-20,Kolkata Knight Riders,Kolkata,NaN,4.0,Kolkata Knight Riders,NaN,Sunrisers Hyderabad,5.0,Deccan Chargers,bat,Asad Rauf,2007/08,DJ Hussey,335986,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1013,"Himachal Pradesh Cricket Association Stadium, ...",15.0,2023-05-17,Delhi Capitals,Dharamsala,NaN,64.0,Delhi Capitals,NaN,Punjab Kings,NaN,Punjab Kings,field,RJ Tucker,2023,RR Rossouw,1359538,1
1014,"Rajiv Gandhi International Stadium, Uppal, Hyd...",NaN,2023-05-18,Royal Challengers Bangalore,Hyderabad,NaN,65.0,Sunrisers Hyderabad,NaN,Royal Challengers Bangalore,8.0,Royal Challengers Bangalore,field,HAS Khalid,2023,V Kohli,1359539,1
1015,"Himachal Pradesh Cricket Association Stadium, ...",NaN,2023-05-19,Rajasthan Royals,Dharamsala,NaN,66.0,Punjab Kings,NaN,Rajasthan Royals,4.0,Rajasthan Royals,field,Navdeep Singh,2023,D Padikkal,1359540,1
1016,"Arun Jaitley Stadium, Delhi",77.0,2023-05-20,Chennai Super Kings,Delhi,NaN,67.0,Chennai Super Kings,NaN,Delhi Capitals,NaN,Chennai Super Kings,bat,AK Chaudhary,2023,RD Gaikwad,1359541,1
1018,"Wankhede Stadium, Mumbai",NaN,2023-05-21,Mumbai Indians,Mumbai,NaN,69.0,Sunrisers Hyderabad,NaN,Mumbai Indians,8.0,Mumbai Indians,field,R Pandit,2023,C Green,1359543,1

In [27]:
match_df = match_df.merge(total_runs, left_on=['matchId', 'inning'], right_on=['matchId', 'inning'], how='left')

In [28]:
match_df.columns

Index(['venue', 'winner_runs', 'date', 'winner', 'city', 'outcome',
       'match_number', 'team1', 'eliminator', 'team2', 'winner_wickets',
       'toss_winner', 'toss_decision', 'tv_umpire', 'season',
       'player_of_match', 'matchId', 'inning', 'total_runs'],
      dtype='object')

In [29]:
match_df=match_df[['winner','city','matchId','total_runs']]

In [30]:
match_df

                          winner        city  matchId  total_runs
0          Kolkata Knight Riders   Bangalore   335982         223
1            Chennai Super Kings  Chandigarh   335983         241
2               Delhi Daredevils       Delhi   335984         130
3    Royal Challengers Bangalore      Mumbai   335985         166
4          Kolkata Knight Riders     Kolkata   335986         111
..                           ...         ...      ...         ...
845               Delhi Capitals  Dharamsala  1359538         214
846  Royal Challengers Bangalore   Hyderabad  1359539         187
847             Rajasthan Royals  Dharamsala  1359540         188
848          Chennai Super Kings       Delhi  1359541         224
849               Mumbai Indians      Mumbai  1359543         201

[850 rows x 4 columns]

In [31]:
second_innings=match_df.merge(df2,on='matchId')
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,batsman_runs,extras,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs_y
0,Kolkata Knight Riders,Bangalore,335982,223,1,0.1,0,1,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,1,NaN,NaN,NaN,1.0,NaN,NaN,2008-04-18,1
1,Kolkata Knight Riders,Bangalore,335982,223,1,0.2,0,2,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
2,Kolkata Knight Riders,Bangalore,335982,223,1,0.3,0,3,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,1,1.0,NaN,NaN,NaN,NaN,NaN,2008-04-18,1
3,Kolkata Knight Riders,Bangalore,335982,223,1,0.4,0,4,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
4,Kolkata Knight Riders,Bangalore,335982,223,1,0.5,0,5,Kolkata Knight Riders,Royal Challengers Bangalore,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,4,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,4
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,0
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,1,0,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1

In [32]:
second_innings = second_innings[second_innings['inning']==2]
second_innings.shape

(97646, 23)

In [33]:
second_innings['batting_team']=second_innings['batting_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['batting_team']=second_innings['batting_team'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['batting_team']=second_innings['batting_team'].replace('Kings XI Punjab','Punjab Kings')
second_innings['bowling_team']=second_innings['bowling_team'].replace('Deccan Chargers','Sunrisers Hyderabad')
second_innings['bowling_team']=second_innings['bowling_team'].replace('Delhi Daredevils','Delhi Capitals')
second_innings['bowling_team']=second_innings['bowling_team'].replace('Kings XI Punjab','Punjab Kings')

In [34]:
second_innings['batting_team'].unique()

array(['Royal Challengers Bangalore', 'Punjab Kings', 'Delhi Capitals',
       'Kolkata Knight Riders', 'Rajasthan Royals', 'Mumbai Indians',
       'Chennai Super Kings', 'Sunrisers Hyderabad'], dtype=object)

In [35]:
# Ensure there are no NaN values in 'total_runs_y'
second_innings['total_runs_y'] = second_innings['total_runs_y'].fillna(0)

# Compute cumulative sum of total runs for each match
second_innings['current_Score'] = second_innings.groupby('matchId')['total_runs_y'].cumsum()

# Display results
print(second_innings[['matchId', 'inning', 'over_ball', 'current_Score']].head())

     matchId  inning  over_ball  current_Score
124   335982       2        0.1              1
125   335982       2        0.2              2
126   335982       2        0.3              2
127   335982       2        0.4              3
128   335982       2        0.5              4

In [36]:
second_innings['runs_left'] = second_innings['total_runs_x'] - second_innings['current_Score']
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,isWide,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,1,222
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,1.0,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,2,221
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,0,2,221
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,3,220
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,4,219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,4,198,3
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,199,2
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,200,1
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,0,200,1
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,201,0

In [37]:
second_innings['balls_left'] = 120 - (second_innings['over']*6 +second_innings['ball'])
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,1,222,119
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,2,221,118
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2008-04-18,0,2,221,117
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,3,220,116
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,NaN,2008-04-18,1,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,2023-05-21,4,198,3,16
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,199,2,15
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,200,1,14
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,2023-05-21,0,200,1,13
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,NaN,2023-05-21,1,201,0,12

In [38]:
second_innings['player_dismissed'] = second_innings['player_dismissed'].fillna(0)
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,isNoBall,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,0,2008-04-18,1,1,222,119
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,0,2008-04-18,1,2,221,118
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,0,2008-04-18,0,2,221,117
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,0,2008-04-18,1,3,220,116
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,NaN,0,2008-04-18,1,4,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,0,2023-05-21,4,198,3,16
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,0,2023-05-21,1,199,2,15
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,0,2023-05-21,1,200,1,14
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,0,2023-05-21,0,200,1,13
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,NaN,0,2023-05-21,1,201,0,12

In [41]:
second_innings['player_dismissed'] = second_innings['player_dismissed'].apply(lambda x: 0 if x == 0 else 1)
second_innings['player_dismissed'].value_counts()

player_dismissed
0    92836
1     4810
Name: count, dtype: int64

In [45]:

wickets = second_innings.groupby('matchId')['player_dismissed'].cumsum()
second_innings['wickets_remaining'] = 10-wickets
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,Byes,LegByes,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left,wickets_remaining
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,0,2008-04-18,1,1,222,119,10
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,0,2008-04-18,1,2,221,118,10
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,0,2008-04-18,0,2,221,117,10
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,0,2008-04-18,1,3,220,116,10
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,NaN,0,2008-04-18,1,4,219,115,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,0,2023-05-21,4,198,3,16,8
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,0,2023-05-21,1,199,2,15,8
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,0,2023-05-21,1,200,1,14,8
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,0,2023-05-21,0,200,1,13,8
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,NaN,0,2023-05-21,1,201,0,12,8

In [46]:
second_innings['crr'] = round((second_innings['current_Score']*6)/(120 - second_innings['balls_left']),2)
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,LegByes,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left,wickets_remaining,crr
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,0,2008-04-18,1,1,222,119,10,6.00
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,0,2008-04-18,1,2,221,118,10,6.00
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,0,2008-04-18,0,2,221,117,10,4.00
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,0,2008-04-18,1,3,220,116,10,4.50
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,NaN,0,2008-04-18,1,4,219,115,10,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,0,2023-05-21,4,198,3,16,8,11.42
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,0,2023-05-21,1,199,2,15,8,11.37
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,0,2023-05-21,1,200,1,14,8,11.32
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,0,2023-05-21,0,200,1,13,8,11.21
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,NaN,0,2023-05-21,1,201,0,12,8,11.17

In [47]:
second_innings['rrr'] = round((second_innings['runs_left']*6)/(second_innings['balls_left']),2)
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,dismissal_kind,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,0,2008-04-18,1,1,222,119,10,6.00,11.19
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,0,2008-04-18,1,2,221,118,10,6.00,11.24
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,0,2008-04-18,0,2,221,117,10,4.00,11.33
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,0,2008-04-18,1,3,220,116,10,4.50,11.38
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,NaN,0,2008-04-18,1,4,219,115,10,4.80,11.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,NaN,0,2023-05-21,4,198,3,16,8,11.42,1.12
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,NaN,0,2023-05-21,1,199,2,15,8,11.37,0.80
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,NaN,0,2023-05-21,1,200,1,14,8,11.32,0.43
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,NaN,0,2023-05-21,0,200,1,13,8,11.21,0.46
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,NaN,0,2023-05-21,1,201,0,12,8,11.17,0.00

In [48]:
def winner(team):
    return 1 if team['batting_team'] == team['winner'] else 0
second_innings['results'] = second_innings.apply(winner,axis=1)
second_innings

,winner,city,matchId,total_runs_x,inning,over_ball,over,ball,batting_team,bowling_team,...,player_dismissed,date,total_runs_y,current_Score,runs_left,balls_left,wickets_remaining,crr,rrr,results
124,Kolkata Knight Riders,Bangalore,335982,223,2,0.1,0,1,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,2008-04-18,1,1,222,119,10,6.00,11.19,0
125,Kolkata Knight Riders,Bangalore,335982,223,2,0.2,0,2,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,2008-04-18,1,2,221,118,10,6.00,11.24,0
126,Kolkata Knight Riders,Bangalore,335982,223,2,0.3,0,3,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,2008-04-18,0,2,221,117,10,4.00,11.33,0
127,Kolkata Knight Riders,Bangalore,335982,223,2,0.4,0,4,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,2008-04-18,1,3,220,116,10,4.50,11.38,0
128,Kolkata Knight Riders,Bangalore,335982,223,2,0.5,0,5,Royal Challengers Bangalore,Kolkata Knight Riders,...,0,2008-04-18,1,4,219,115,10,4.80,11.43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Mumbai,1359543,201,2,17.2,17,2,Mumbai Indians,Sunrisers Hyderabad,...,0,2023-05-21,4,198,3,16,8,11.42,1.12,1
202514,Mumbai Indians,Mumbai,1359543,201,2,17.3,17,3,Mumbai Indians,Sunrisers Hyderabad,...,0,2023-05-21,1,199,2,15,8,11.37,0.80,1
202515,Mumbai Indians,Mumbai,1359543,201,2,17.4,17,4,Mumbai Indians,Sunrisers Hyderabad,...,0,2023-05-21,1,200,1,14,8,11.32,0.43,1
202516,Mumbai Indians,Mumbai,1359543,201,2,17.5,17,5,Mumbai Indians,Sunrisers Hyderabad,...,0,2023-05-21,0,200,1,13,8,11.21,0.46,1
202517,Mumbai Indians,Mumbai,1359543,201,2,17.6,17,6,Mumbai Indians,Sunrisers Hyderabad,...,0,2023-05-21,1,201,0,12,8,11.17,0.00,1

In [49]:
required_data = second_innings[['batting_team','bowling_team','city','runs_left','balls_left','wickets_remaining','total_runs_x','crr','rrr','results']]
required_data

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr,results
124,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,222,119,10,223,6.00,11.19,0
125,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,118,10,223,6.00,11.24,0
126,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,221,117,10,223,4.00,11.33,0
127,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,220,116,10,223,4.50,11.38,0
128,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,219,115,10,223,4.80,11.43,0
...,...,...,...,...,...,...,...,...,...,...
202513,Mumbai Indians,Sunrisers Hyderabad,Mumbai,3,16,8,201,11.42,1.12,1
202514,Mumbai Indians,Sunrisers Hyderabad,Mumbai,2,15,8,201,11.37,0.80,1
202515,Mumbai Indians,Sunrisers Hyderabad,Mumbai,1,14,8,201,11.32,0.43,1
202516,Mumbai Indians,Sunrisers Hyderabad,Mumbai,1,13,8,201,11.21,0.46,1
202517,Mumbai Indians,Sunrisers Hyderabad,Mumbai,0,12,8,201,11.17,0.00,1

In [50]:
final_data = required_data.sample(required_data.shape[0])

In [51]:
final_data.dropna(inplace=True)

In [53]:
final_data = final_data[final_data['balls_left']!=0]

In [54]:
final_data.to_csv("final_data.csv", index=False)

In [55]:
from sklearn.model_selection import train_test_split 
x = final_data.iloc[:, :-1]
y = final_data.iloc[:,-1]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=100)
x_train

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr
110023,Delhi Capitals,Royal Challengers Bangalore,Bangalore,21,18,8,192,10.06,7.00
64873,Delhi Capitals,Punjab Kings,Dharamsala,46,56,9,142,9.00,4.93
179488,Rajasthan Royals,Kolkata Knight Riders,Sharjah,129,62,3,172,4.45,12.48
168533,Chennai Super Kings,Punjab Kings,Mumbai,11,40,8,107,7.20,1.65
50233,Delhi Capitals,Punjab Kings,Dharamsala,162,115,10,171,10.80,8.45
...,...,...,...,...,...,...,...,...,...
76168,Kolkata Knight Riders,Mumbai Indians,Mumbai,113,61,6,171,5.90,11.11
65585,Delhi Capitals,Kolkata Knight Riders,Pune,104,76,8,163,8.05,8.21
18306,Kolkata Knight Riders,Mumbai Indians,East London,88,59,8,149,6.00,8.95
140386,Royal Challengers Bangalore,Sunrisers Hyderabad,Hyderabad,144,26,3,232,5.62,33.23
168482,Chennai Super Kings,Punjab Kings,Mumbai,83,90,9,107,4.80,5.53

In [56]:
x_test

,batting_team,bowling_team,city,runs_left,balls_left,wickets_remaining,total_runs_x,crr,rrr
170656,Punjab Kings,Mumbai Indians,Chennai,87,84,10,132,7.50,6.21
192715,Rajasthan Royals,Punjab Kings,Guwahati,119,66,7,198,8.78,10.82
182443,Kolkata Knight Riders,Punjab Kings,Mumbai,24,41,6,138,8.66,3.51
106433,Royal Challengers Bangalore,Punjab Kings,Chandigarh,72,100,9,107,10.50,4.32
84167,Kolkata Knight Riders,Punjab Kings,Abu Dhabi,102,71,7,133,3.80,8.62
...,...,...,...,...,...,...,...,...,...
99817,Kolkata Knight Riders,Sunrisers Hyderabad,Visakhapatnam,126,82,8,177,8.05,9.22
5431,Delhi Capitals,Mumbai Indians,Mumbai,81,58,6,163,7.94,8.38
107318,Kolkata Knight Riders,Rajasthan Royals,Mumbai,24,7,2,200,9.35,20.57
15109,Kolkata Knight Riders,Rajasthan Royals,Cape Town,80,56,7,151,6.66,8.57
196151,Chennai Super Kings,Sunrisers Hyderabad,Chennai,49,57,10,135,8.19,5.16

In [58]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse_output=False,drop='first'),['batting_team','bowling_team','city'])
],
remainder='passthrough')

In [59]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline([
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [60]:
pipe.fit(x_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse_output=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [61]:
y_pred = pipe.predict(x_test)

In [62]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8177557813594954

In [63]:
pipe.predict_proba(x_test)[0]

array([0.89127076, 0.10872924])

In [64]:
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [65]:
final_data['city'].unique()

array(['Mumbai', 'Bangalore', 'Kimberley', 'Cuttack', 'Johannesburg',
       'Kolkata', 'Hyderabad', 'Delhi', 'Chennai', 'Abu Dhabi', 'Dubai',
       'Jaipur', 'Chandigarh', 'Durban', 'Pune', 'Ahmedabad',
       'Dharamsala', 'Indore', 'Bengaluru', 'Raipur', 'Centurion',
       'Sharjah', 'Ranchi', 'Visakhapatnam', 'Nagpur', 'Navi Mumbai',
       'Guwahati', 'Cape Town', 'Bloemfontein', 'Port Elizabeth',
       'East London'], dtype=object)